<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" sizes="64x64" href="{{ url_for('static', filename='icon/favicon_.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}?{{time}}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title> ALU Blog </title>
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #002E6D">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">
              <img src="{{ url_for('static', filename='alu_logo.png')}}" alt="ALU" height="20px">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
            </div>
            <!-- Navigation bar -->
            {% if current_user.is_authenticated %}
                <form class="form-inline mr-4" id="search_form" method="POST" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                      <input class="form-control mr-1" type="text" placeholder="Search.." id="search_value"
                             name="search_value" required>
                      <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            {% endif %}
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                  <div class="dropdown">
                      <button class="btn btn-outline-light " type="button" id="dropdownMenu2" data-toggle="dropdown"
                      style="padding: 1px; border: 0">
                        <img class="rounded-circle account-img" style="padding: 0; margin: 0; max-width: 35%;
                            height: 35%; border: 2px white solid;" src="{{ url_for('static',
                            filename='profile_pics/'+ current_user.profile_image) }}" alt="user_pic">
                      </button>
                      <div class="dropdown-menu text-center small">
                        <a class="btn btn-primary dropdown-item" href="{{ url_for('users.profile', user_id=current_user.id) }}">Profile</a>
                      {#if super user#}
                      {% if current_user.admin == 2 %}
                        <a class="btn btn-primary dropdown-item" href="{{ url_for('admin.register_admin') }}">
                            Add Admin
                        </a>
                        <a class="btn btn-primary dropdown-item" href="{{ url_for('admin.show_all_admins') }}">
                            All Admins
                        </a>
                      {% endif %}
                        <a class="btn btn-danger dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
                      </div>
                  </div>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
{#        flask messages#}
          {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for cate, msg in messages %}
                    <div class="alert alert-{{cate}}">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
    {#        content#}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Notifications</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{{ url_for('main.home') }}" class="side_bar_link" >
                        Latest Posts
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{{ url_for("main.announcements") }}" class="side_bar_link" target="_blank">
                        Announcements
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="https://calendar.google.com/calendar/r" class="side_bar_link" target="_blank">
                        Calendars
                    </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </main>
{#    add scripts file#}
    {% block script %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>