{% extends 'base.html' %}

{% block content %}
    {# add post #}
    <div class="content-section text-dark new_post_container">
        <form id="new_post">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-lg">New Post</legend>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Title" id="title" required>
                    <div class="invalid-feedback" id="invalid_title"></div>
                </div>
                <div class="md-form">
                    <textarea id="description" class="md-textarea form-control" rows="3"
                              placeholder="What's new at ALU?" required></textarea>
                    <div class="invalid-feedback" id="invalid_description"></div>
                </div>

            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Post</button>
            </div>
        </form>
    </div>
    {% for post in posts.items %}
        <article class="media content-section post_container">
          <img src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}"
               alt="user_image" class="rounded-circle article-img mt-2">
          <div class="media-body">
              <div class="container article-metadata mb-3">
                  <div class="row mt-1">
                    <div class="col-sm">
                       <a class="mr-2" href="{{ url_for('users.profile', user_id=post.author.id) }}">{{ post.author.username }}</a>
                       <small class="text-muted">
                          {% set time_diff = datetime.strptime(now, "%Y-%m-%d %H:%M:%S") -
                          datetime.strptime(post.date.strftime("%Y-%m-%d %H:%M:%S"), "%Y-%m-%d %H:%M:%S") %}
                          {% if time_diff.days//7 %}
                            {{ time_diff.days//7 }} weeks ago
                          {% elif time_diff.days %}
                            {{ time_diff.days }} days ago
                          {% elif time_diff.seconds//3600 %}
                            {{ time_diff.seconds // 3600 }} hours ago
                          {% elif time_diff.seconds//60 %}
                            {{ time_diff.seconds // 60 }} minutes ago
                          {% else %}
                            {{ time_diff.seconds}} seconds ago
                          {% endif %}
                      </small>
                    </div>
                    <div class=".col-sm-">
                        <div class="container">
                          {% if post.author.admin == 1 %}
                              <button class="btn btn-primary btn-sm mr-2" disabled>
                                  admin
                              </button>
                          {% elif post.author.admin == 2 %}
                              <button class="btn btn-primary btn-sm mr-2" disabled>
                                  super admin
                              </button>
                          {% endif %}
                          {% if (current_user.admin == 1 and not post.author.admin) or (post.author == current_user) %}
                              <button class="btn btn-outline-primary border-0 mb-1 mt-0 p-0 font-weight-bold"
                                      data-toggle="dropdown" style="width: 25px">≡</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="btn btn-primary dropdown-item" href="{{ url_for('posts.update_post', post_id=post.id) }}">Edit</a>
                                    <a class="btn btn-danger dropdown-item" href="{{ url_for('posts.delete_post', post_id=post.id) }}">
                                      Delete
                                    </a>
                                </div>
                          {% endif %}
                        </div>
                    </div>
                  </div>
              </div>
            <h2><a class="article-title" href="{{ url_for('posts.show_post', username=post.author.username, post_id=post.id) }}">
                {{ post.title }}</a></h2>
            <p class="article-content text-dark">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{#    create a loop for all post pages in the database #}
    <div class="container-fluid mt-2 mb-3">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if page_num == posts.page %}
                    <a href="{{ url_for('main.home', current_page=page_num) }}" class="btn btn-primary">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('main.home', current_page=page_num) }}" class="btn btn-outline-primary">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='scripts/new_post.js') }}?{{time}}"></script>
{% endblock %}