{% extends 'base.html' %}


{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ profile_image }}">
        <div class="media-body">
          <h2 class="account-heading mt-4">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
          {% if change_profile %}
              <form method="POST" action="">
                 <button class="btn btn-outline-info">Change Profile Info</button>
              </form>
          {% endif %}
        </div>
      </div>
      {% block change_username %}
      {% endblock %}
    </div>
    {% include "home.html" %}
{% endblock %}