{% extends 'base.html' %}


{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img mt-2" src="{{ url_for('static', filename='profile_pics/' +
        user.profile_image) }}" alt="user_image">
        <div class="media-body">
          {% if user.admin == 1 %}
              <button class="btn btn-primary btn-sm position-absolute" style="right: 15px; top: 0" disabled>
                  admin
              </button>
          {% elif user.admin == 2 %}
              <button class="btn btn-primary btn-sm position-absolute" style="right: 15px; top: 0" disabled>
                  super admin
              </button>
          {% endif %}
          <h2 class="account-heading mt-4">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          {% if user.id == current_user.id %}
              <div class="d-flex">
                  <form method="POST" action="">
                     <button class="btn btn-outline-primary mr-1">Update Profile</button>
                  </form>
                  <button type="button" class="btn btn-outline-primary mr-1" data-toggle="modal"
                          data-target="#deactivateAccount">
                      Deactivate My Account
                  </button>
                  <button class="btn btn-outline-primary" type="submit" data-toggle="modal"
                          data-target="#deleteAccount">
                      Delete My Account
                  </button>
              </div>
          {% elif (current_user.admin) and (user.admin != 2) and (current_user.admin != user.admin)%}
              <div class="d-flex">
                  <button class="btn btn-outline-primary" type="submit" data-toggle="modal"
                          data-target="#deleteAdminAccount">
                      {{"Delete User" if not user.admin else "Delete Admin"}}
                  </button>
              </div>
          {% endif %}
        </div>
      </div>
      {% block change_username %}
      {% endblock %}
    </div>
    <div class="container-fluid">
        {% for post in posts.items %}
            <article class="media content-section" id={{ post.id }}>
              <img src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}"
                   alt="user_image" class="rounded-circle article-img mt-2">
              <div class="media-body">
                  <div class="container article-metadata mt-1">
                      <div class="row">
                        <div class="col-sm">
                           <a class="mr-2">{{ user.username }}</a>
                           <small class="text-muted">
                              {% set time_diff = datetime.strptime(now, "%Y-%m-%d %H:%M:%S") -
                              datetime.strptime(post.date.strftime("%Y-%m-%d %H:%M:%S"), "%Y-%m-%d %H:%M:%S") %}
                              {% if time_diff.days//7 %}
                                {{ time_diff.days//7 }} weeks ago
                              {% elif time_diff.days %}
                                {{ time_diff.days }} days ago
                              {% elif time_diff.seconds//3600 %}
                                {{ time_diff.seconds // 3600 }} hours ago
                              {% elif time_diff.seconds//60 %}
                                {{ time_diff.seconds // 60 }} minutes ago
                              {% else %}
                                1 minute ago
                              {% endif %}
                          </small>
                        </div>
                        <div class=".col-sm-">
                          {% if (current_user.admin == 1 and not post.author.admin) or (post.author == current_user) %}
                                <div class="container">
                                  <button class="btn btn-outline-primary mb-1 mt-0" data-toggle="dropdown"
                                          style="font-size: 13px; padding: 0px; width: 25px;">≡</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="btn btn-primary dropdown-item" href="{{ url_for('posts.update_post',
                                         post_id=post.id) }}">
                                            Edit
                                        </a>
                                        <button class="btn btn-danger dropdown-item" type="submit" onclick="delete_post({{ post.id }})">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                          {% endif %}
                        </div>
                      </div>
                  </div>
                <h2><a class="article-title" href="{{ url_for('posts.show_post', username=user.username, post_id=post.id) }}">
                    {{ post.title }}</a></h2>
                <p class="article-content text-dark">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}
        {#create a loop for all post pages in the database#}
        <div class="mt-2 mb-3">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if page_num == posts.page %}
                        <a href="{{ url_for('main.home', current_page=page_num) }}" class="btn btn-primary">{{ page_num }}</a>
                    {% else %}
                        <a href="{{ url_for('main.home', current_page=page_num) }}" class="btn btn-outline-primary">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {#deactivate Account model#}
    <div class="modal fade" id="deactivateAccount" tabindex="-1" role="dialog" aria-labelledby="deactivateAccountLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteUserLabel">Deactivate Your Account?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form method="POST" action="{{ url_for('users.deactivate_account', user_id = current_user.id) }}">
                <button type="submit" class="btn btn-primary">Deactivate</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {#delete Account model#}
    <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteUserLabel">Delete Your Account?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            All of your data and activities will be deleted. Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form method="POST" action="{{ url_for('users.delete_my_account', user_id = current_user.id) }}">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {#delete admin account model#}
    <div class="modal fade" id="deleteAdminAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAdminAccountLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteUserLabel">Delete User Account?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form method="POST" action="{{ url_for('admin.delete_user', user_id = user.id) }}">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='scripts/delete_user_main.js') }}?{{time}}"></script>
    <script src="{{ url_for('static', filename='scripts/delete_post.js') }}?{{time}}"></script>
{% endblock %}

